.header8 {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
}

.header8 img {
  border-radius: 100%;
  max-width: 120px;
}

.header8 ul {
  display: flex;
  align-items: center;
  justify-content: center;
}

.header8 ul li {
  list-style: none;
}

.header8 ul li a {
  text-decoration: none;
  padding: 10px;
  color: black;
}

@media screen and (max-width: 550px) {
  .header8 {
    flex-direction: column;
  }

  .header8 img {
    margin-bottom: 30px;
  }
}

@media screen and (max-width: 400px) {
  .header8 ul {
    flex-direction: column;
  }
}
